@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');

$primary: #3300FF;
$txt-on-primary: #fff;
$txt-black: #545454;
$txt-gray: #909090;

$gray-100: #F7F8FB;
// $gray-100: #F2F2F2;
$gray-400: #e6e6e699;
$gray-500: #bbbbbb99;

$white-100: #fff;
$white-200: #f6f6f6;
$white-300: #f9f9f9;
$page-width: 1160px;
$page-padding: 16px;

$shadow--smooth: 0px 4px 20px rgba(0, 0, 0, 0.05);


@mixin btn(
    $hierarchy: 'primary',
    $type: 'classic',
) {    
    border: none;
    cursor: pointer;
    font-weight: 500;

    @if $hierarchy == 'primary'{
        background-color: $primary;
        color: $txt-on-primary;
    }
    @if $hierarchy == 'secondary'{
        // background-color: $gray-400;
        color: $txt-black;
        background: none;
        border: 3px solid $gray-500;
    }
    @if $type == 'classic'{
        
    }
    @if $type == 'square'{
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    & > span{
        font-weight: 500;
    }
}

::selection{
    background-color: $primary;
    color: $txt-on-primary;
}

.card{
    max-width: 100%;
    min-width: 250px;
    flex-grow: 1;
    flex-basis: 250px;
    margin-right: 16px;
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 18px 12px 24px 12px;
    transition: .3s;
    box-shadow: 0px 43px 31px rgba(0, 0, 0, 0.02), 0px 17.9644px 12.9511px rgba(0, 0, 0, 0.0143771), 0px 9.60461px 6.92426px rgba(0, 0, 0, 0.0119221), 0px 5.38427px 3.88168px rgba(0, 0, 0, 0.01), 0px 2.85954px 2.06153px rgba(0, 0, 0, 0.00807786), 0px 1.18992px 0.85785px rgba(0, 0, 0, 0.00562291);

    // &:hover{
    //     // background-color: $white-100;
    //     box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    // }

    &__title{
        font-size: 35px;
        text-align: center;
        margin-top: 0;
        color: $txt-black;
    }

    &__subtitle{
        text-align: center;
        margin-top: 0;
        color: $txt-gray;
    }

    &__saveBtn{
        @include btn(
            $hierarchy: 'secondary',
            $type: 'square'
        );
        height: 50px;
        border-radius: 15px;

        &--saved svg{
            color: $primary;
            fill: $primary;
        }
    }
}

.tabs{
    margin-top: 100px;

    @media only screen and (max-width: 510px) {
        margin-top: 64px;
    }


    &__nav{
        display: flex;
        list-style: none;
        padding: 0;

        &__tab{

            &__btn{
                all: unset;
                cursor: pointer;
                font-size: 18px;
                padding: 8px 16px;
                transition: .3s;
                position: relative;
                color: $txt-black;

                &:before{
                    background: none repeat scroll 0 0 transparent;
                    transition: width 0.3s ease 0s, left 0.3s ease 0s;
                    width: 0;
                    height: 3px;
                    background-color: $primary;
                    top: -4px;
                    left: 50%;
                    position: absolute;
                    content: '';
                }


                &:hover{
                    &:before{
                        width: 100%; 
                        left: 0; 
                    }
                }
            }
        }

    }

    &__content{
        &__wrapper{
            display: none;
            width: 100%;
            flex-wrap: wrap;
        }
    }
}

.tabs__nav__tab--active{
    .tabs__nav__tab__btn{
        color: $primary;
        &:before{
            width: 100%; 
            left: 0; 
        }
    }
}

body
.tabs__content__wrapper--active{
    display: flex;
}

.tabMsg{
    text-align: center;
    margin: auto;
    max-width: 400px;
    font-size: 1.2em;

    &__title{
        color: $txt-black;
    }

    &__paragraph{
        color: $txt-gray;
    }
}

.form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    max-width: max-content;
    margin-top: 48px;

    &__searchbox{
        position: relative;
        flex-shrink: 3;
        width: 400px;

        &__btn{
            @include btn;
            min-height: 60px;
            padding: 8px 24px;
            border-radius: 15px;
            font-size: 18px;
            position: absolute;
            top: 50%;
            transform: translate(-100%, -50%);
        }

        &__input{
            min-height: 50px;
            background-color: $gray-100;
            border-radius: 15px;
            border: none;
            padding: 12px;
            width: 0;
            min-width: 100%;
            font-size: 18px;
            color: $txt-black;
            transition: .4s;
            padding-right: 124px;
        
            &:focus{
                outline: none;
                background-color: darken($gray-100, 2);
            }
        }

        @media only screen and (max-width: 510px) {
            min-width: -webkit-fill-available;
        }

    }

    &__btn{
        @include btn(
            $hierarchy: 'secondary',
            $type: 'square'
        ); 
        border-radius: 15px;
        min-height: 60px;
        width: 60px;
        margin-left: 16px;
        font-size: 18px;

        @media only screen and (max-width: 510px) {
            min-width: 100%;
            margin-top: 24px;
            margin-left: 0;
        }

        &__txt{
            margin-left: 8px;
            display: none;
            @media only screen and (max-width: 510px) {
                display: inline;
            }
        }
    }
}

*{
    box-sizing: border-box;
    font-family: 'Lexend';
}

ul{
    padding-left: 0;
}

button{
    cursor: pointer;
}

.link{
    color: $primary;
}

.header{
    &__title{
        font-size: 50px;
        color: $txt-black;

        @media only screen and (max-width: 600px) {
            font-size: 35px;
        }
    }
}

.nav{
    width: 100%;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__wrapper{
        max-width: $page-width;
        width: 100%;
        padding: 0 $page-padding;
    }
}

.main{
    max-width: $page-width;
    width: 100%;
    padding: 0 $page-padding;
}

.footer{
    margin-top: auto;
    min-height: 60px;
}

.app{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}